$break-phone: 320px;
$break-tablet: 850px;
$break-desktop: 1200px;
$break-desktop-2: 1500px;
$break-desktop-3: 2000px;

$light-blue: #71e1f2;
$dark-blue: #0500F4;
$red: #FF6AD5;
$yellow: #ffff33;

//fonts
@font-face {
    font-family: 'MonumentGrotesk-Regular';
    src: url("../fonts/MonumentGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'EditorialNew-Light';
    src: url("../fonts/EditorialNew-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Ofform-Regular';
    src: url("../fonts/Ofform-Regular.otf") format("opentype");
}

//regular styling

body{
    color: black;
    font-family: "MonumentGrotesk-Regular", "Helvetica", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

a{
    color: black;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: black;
    }
}

.copyright-1{
    display: none;
    @media screen and (min-width: $break-desktop) {
        display: block;
        color: white;
        font-size: 10px;
        letter-spacing: .5px;
        margin: 0;
        padding: 0 0 0 1em;
        text-transform: uppercase;
        z-index: 42;
  }
}

.copyright-2{
    color: white;
    letter-spacing: .5px;
    margin-top: 3em;
    text-transform: uppercase;
    z-index: 42;
    @media screen and (min-width: $break-desktop) {
        display: none;
  }
}


h1{
    font-family: "MonumentGrotesk-Regular", "Helvetica", sans-serif;
    font-size: 12px;
    font-weight: normal;
    @media screen and (min-width: $break-tablet) {
    font-size: 14px;
  }
    @media screen and (min-width: $break-desktop) {
    font-size: 16px;
  }
}

h2{
    font-family: "MonumentGrotesk-Regular", "Helvetica", sans-serif;
    font-size: 9px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .03rem;
    @media screen and (min-width: $break-tablet) {
    font-size: 11px;
  }
    @media screen and (min-width: $break-desktop) {
    font-size: 12px;
  }
}

h3{
    font-family: "EditorialNew-Light", "Helvetica", sans-serif;
    font-size: 50px;
    font-weight: normal;
    line-height: 1;
    @media screen and (min-width: $break-tablet) {
        font-size: 100px;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 160px;
        line-height: 1.1;
  }
    @media screen and (min-width: $break-desktop-3) {
        font-size: 200px;
  }
}

h4{
    font-family: "EditorialNew-Light", "Helvetica", sans-serif;
    font-weight: normal;
}

h5{
    font-weight: normal;
    font-size: 14px;
    @media screen and (min-width: $break-tablet) {
        font-size: 16px;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 20px;
  }
    @media screen and (min-width: $break-desktop-3) {
        font-size: 40px;
  }
}

h6 {
    font-weight: normal;
    font-size: 18px;
    @media screen and (min-width: $break-tablet) {
        font-size: 24px;
  }
    @media screen and (min-width: $break-desktop) {
        font-size: 32px;
  }
}

img{
    max-width: 100%;
}

p{
    font-size: 10px;
    margin-bottom: 0;
}

.top-spacing{
    height: 120px;
}

.project-container{
    display: block;
    margin: 30px 30px 120px 30px;
    @media screen and (min-width: $break-desktop-2) {
    margin: 30px 100px 200px 100px;
  }
    @media screen and (min-width: $break-desktop-3) {
    margin: 30px 200px 300px 200px;
  }
}

.project-title{
    
    @media screen and (min-width: $break-desktop) {
        display: inline;
        position: relative;
  }
}

.two-column {
    @media screen and (min-width: $break-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
  }
}

.thumbnail{
    padding-bottom: 80px;
    margin-top: -24px;
    position: relative;
    z-index: -10;
    @media screen and (min-width: $break-tablet) {
        margin-top: -50px;
  }
    @media screen and (min-width: $break-desktop) {
        display: none;
        padding-bottom: 0;
  }
}

//project page styling

.arrow-right{
    width: 10%;
}

.book-start{
    display: grid;
    grid-template-columns: 1fr 11.75fr;
}

.bottom-space{
    margin-bottom: 60px;
    @media screen and (min-width: $break-desktop) {
    margin-bottom: 100px;
  }
    @media screen and (min-width: $break-desktop-2) {
    margin-bottom: 120px;
  }
    @media screen and (min-width: $break-desktop-3) {
        margin-bottom: 300px;
  }
}

.cover{
    margin: -24px 0 0 0;
    position: relative;
    z-index: -10;
    @media screen and (min-width: $break-tablet) {
        margin-top: -50px;
  }
    @media screen and (min-width: $break-desktop) {
        margin-top: -60px;
  }
    @media screen and (min-width: $break-desktop-3) {
        margin-top: -70px;
  }
}

.full-img{
    width: 100%;
}

.padded{
    padding: 0 30px 0 30px;
    @media screen and (min-width: $break-tablet) {
        padding: 0 45px 0 45px;
  }
    @media screen and (min-width: $break-desktop) {
        padding: 0 60px 0 60px;
  }
    @media screen and (min-width: $break-desktop-2) {
        padding: 0 100px 0 100px;
  }
    @media screen and (min-width: $break-desktop-3) {
        padding: 0 200px 0 200px;
  }
}
.padded-title{
    padding: 0 0 0 30px;
    @media screen and (min-width: $break-desktop-2) {
        padding: 0 0 0 100px;
  }
    @media screen and (min-width: $break-desktop-3) {
        padding: 0 0 0 200px;
  }
}
.photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.photo-grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5em;
}


.left-item{
    padding-right: 30px;
    @media screen and (min-width: $break-tablet) {
        padding-right: 120px;
  }
    @media screen and (min-width: $break-desktop) {
        padding-right: 200px;
  }
    @media screen and (min-width: $break-desktop-2) {
        padding-right: 300px;
  }
    @media screen and (min-width: $break-desktop-3) {
        padding-right: 400px;
  }
}

.right-item{
    padding-left: 30px;
    @media screen and (min-width: $break-tablet) {
        padding-left: 120px;
  }
    @media screen and (min-width: $break-desktop) {
        padding-left: 200px;
  }
    @media screen and (min-width: $break-desktop-2) {
        padding-left: 300px;
  }
    @media screen and (min-width: $break-desktop-3) {
        padding-left: 400px;
  }
}


.proj-categories{
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 0 10px 30px;
    width: 100%;
    p{
        font-size: 10px;
        letter-spacing: .12px;
        line-height: 2.2;
        text-transform: uppercase;
    }
    @media screen and (min-width: $break-tablet) {
        margin: 60px 0 120px 30px;
        padding-left: 90px;
        padding-right: 0;
        grid-template-columns: 1fr;
  }
    @media screen and (min-width: $break-desktop) {
        line-height: 0;
        padding-left: 170px;
        padding-right: 0;
        p{
            font-size: 12px;
        }
  }
    @media screen and (min-width: $break-desktop-2) {
        padding-left: 270px;
  }
    @media screen and (min-width: $break-desktop-3) {
        padding-left: 370px;
  }
}

.proj-description{
    p{
        font-size: 30px;
        line-height: 1.4;
        margin: 0 0 10px 0;
        width: 100%
    }
    @media screen and (min-width: $break-tablet) {
        p{
        margin: 0 0 30px 0;
    }
  }
    @media screen and (min-width: $break-desktop-2) {
        width: 60%;
  }
    @media screen and (min-width: $break-desktop-3) {
        width: 50%;
  }
}

.proj-words{
    margin: 60px 0 60px 0;
    @media screen and (min-width: $break-tablet) {
        margin: 100px 0 100px 0;
  }
    @media screen and (min-width: $break-desktop-2) {
        margin: 140px 0 140px 0;
  }
    @media screen and (min-width: $break-desktop-3) {

  }
}

.proj-wrapper{
    margin-top: 30px;
    img{
        width: 100%;
    }
}

.small-text{
    font-size: 12px;
    letter-spacing: .03rem;
    margin: -120px 0 120px 0;
    text-transform: uppercase;
    @media screen and (min-width: $break-desktop) {
        margin-top: -20px;
  }
}

.next-project{
    display: flex;
    margin-top: 120px;
    @media screen and (min-width: $break-tablet) {
        margin-top: 140px;
  }
    @media screen and (min-width: $break-desktop-2) {
        margin-top: 180px;
  }
    @media screen and (min-width: $break-desktop-3) {

  }
}

.next-project-name{
    width: 100%;
    @media screen and (min-width: $break-desktop) {
        width: 100%;
    }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.visit-site{
    font-size: 12px;
    letter-spacing: .03rem;
    margin: 0 0 120px 0;
    text-transform: uppercase;
}

.webpage-link{
    font-family: "EditorialNew-Light", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-decoration: underline;
    @media screen and (min-width: $break-tablet) {
        font-size: 50px;
  }
    @media screen and (min-width: $break-tablet) {
        font-size: 80px;
  }
}

//about page styling
.about-container{
    margin: 30px 30px 120px 30px;
    @media screen and (min-width: $break-desktop-2) {
    margin-top: 60px;
  }
    @media screen and (min-width: $break-desktop-2) {
    margin: 70px 100px 200px 100px;
  }
    @media screen and (min-width: $break-desktop-3) {
    margin: 80px 200px 300px 200px;
  }
}

.about-content{
    padding-top: 1.8em;
    height: 100vh;
}

.block{
    padding-top: 60px;
    @media screen and (min-width: $break-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.block-2{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.block-items{
    p{
        font-size: 10px;
        @media screen and (min-width: $break-tablet) {
            font-size: 12px;
      }
        @media screen and (min-width: $break-desktop-2) {
            font-size: 14px;
      }
        @media screen and (min-width: $break-desktop-3) {
            font-size: 14px;
      }
    }
}

.bottom-space-2{
    margin-bottom: 30px;
    @media screen and (min-width: $break-desktop) {
    margin-bottom: 50px;
  }
    @media screen and (min-width: $break-desktop-2) {
    margin-bottom: 60px;
  }
    @media screen and (min-width: $break-desktop-3) {
        margin-bottom: 80px;
  }
}

.item{
    margin: 1em 0 1em 0;
}

.item-top{
    margin: .25em 0 1em 0;
}

.width{
    width: 65%;
    @media screen and (min-width: $break-desktop-2) {
        width: 100%;
    }
}

.width-2{
    width: 80%;
    @media screen and (min-width: $break-desktop-2) {
        width: 100%;
    }
}

.width-3{
    @media screen and (min-width: $break-desktop) {
        width: 60%;
    }
}

.year{
    size: 10px;
    text-transform: uppercase;
}

//navigation
#button{
    background: none;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: 0 24px 0 0;
    padding: 0 1em 0 1em;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    transition-property: color, background-color;
    vertical-align: middle;
    white-space: nowrap;
    &:hover{
        background: $red;
        animation: easeInOut;
    }
    .addwhite{
        border: 1px solid white;
        color: white;
    }
    
}

.menu{
    display: flex;
    height: 35px;
    justify-content: space-between;
    line-height: 35px;
    padding-right: 30px;
    margin: 30px;
    opacity: 0;
    position: fixed;
    top: -50px;
    width: 100%;
    z-index: 100;
    @media screen and (min-width: $break-desktop-2) {
        padding-right: 70px;
        padding-left: 70px;
        margin-top: 50px;
  }
    
    @media screen and (min-width: $break-desktop-3) {
        padding-right: 170px;
        padding-left: 170px;
        margin-top: 60px;
  }
}
.addwhite{
    transition: all 1s ease-in-out;
}

.white{
    color: white;
    transition: all 1s ease-in-out;
}

.menu-bar-container {
    cursor: pointer;
    padding: 7.5px 0 0 0;
}

.bar1, .bar3 {
    width: 20px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}


.change .bar1 {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 5px);
    width: 35px;
}

.change .bar3 {
    background-color: white;
    transform: rotate(45deg) translate(0px, -4px);
    width: 35px;
}

.nav{
    display: flex;
    margin-right: 30px;
}

//menu window
.menu-window{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    margin: 0;
    padding: 30px;
    position: fixed;
    top: 0;
    transform: scaleY(0);
    transform-origin: top;
    width: 100%;
    z-index: 50;
    a{
        color: white;
    }
    @media screen and (min-width: $break-tablet) {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  }
    @media screen and (min-width: $break-desktop-2) {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 80px;
  }
    @media screen and (min-width: $break-desktop-3) {
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 100px;
  }
}

.menu-item{
    opacity: 0;
    top: 100vh;
    /*position: relative;
    visibility: hidden;*/
}

.menu-item-2{
    opacity: 1;
    position: relative;
    top: 0;
}

.big-link {
    padding-top: 60px;
    @media screen and (min-width: $break-tablet) {
        padding-top: 80px;    
        margin-top: 0;
        }
    h4{
        font-size: 50px;
        margin: 0;
        @media screen and (min-width: $break-tablet) {
            font-size: 150px;
            line-height: 1.3;
        }
        @media screen and (min-width: $break-desktop) {
            font-size: 140px;
        }
    }
}

.small-link {
    margin-bottom: 6em;
    @media screen and (min-width: $break-tablet) {
            margin-bottom: 1.2em;
        }
    p{
        font-size: 16px;
        line-height: 2;
        @media screen and (min-width: $break-tablet) {
            font-size: 14px;
            line-height: 2;
        }
        @media screen and (min-width: $break-desktop) {
            font-size: 12px;
            line-height: 2;
            margin-right: 9.35em;
        }
    }
}

//footer styles
.footer-window{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    z-index: 40;
    a{
        color: white;
    }
    @media screen and (min-width: $break-tablet) {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  }
    @media screen and (min-width: $break-desktop-2) {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 80px;
  }
    @media screen and (min-width: $break-desktop-3) {
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 100px;
  }
}

.footer-big-link {
    padding-top: 80px;
    @media screen and (min-width: $break-tablet) {
        padding-top: 80px;    
        margin-top: 0;
        }
    h4{
        font-size: 50px;
        margin: 0;
        @media screen and (min-width: $break-tablet) {
            font-size: 150px;
            line-height: 1.3;
        }
        @media screen and (min-width: $break-desktop) {
            font-size: 140px;
        }
    }
}

.footer-small-link{
    margin-bottom: 2em;
    @media screen and (min-width: $break-tablet) {
            margin-bottom: 3em;
        }
    p{
        font-size: 16px;
        line-height: 2;
        @media screen and (min-width: $break-tablet) {
            font-size: 14px;
            line-height: 2;
        }
        @media screen and (min-width: $break-desktop) {
            font-size: 12px;
            line-height: 2;
            margin-right: 9.35em;
        }
    }
}


//animations
.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

//follow
.container {
    opacity: 1;
    position: relative;
    visibility: hidden;
    z-index: 5;
    @media screen and (max-width: $break-tablet) {
        margin: 0 0 60px 0;
  }
    @media screen and (max-width: $break-desktop) {
        margin-bottom: 0;
        width: 100%;
  }
}

.follower {
    width: 30rem;
    height: 20rem;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none; /* Very important to prevent the follower from messing up with the mouse move */
    
    @media screen and (max-width: $break-phone) {
    display: none;
  }
}

.follower > * {
    margin: auto;
}

.hide-me{
    display: none;
}

//tangy shit
.tangy{
    background-color: $light-blue;
    
    h1{
        font-family: "Ofform-Regular", "Helvetica", sans-serif;
        color: $dark-blue;
    }
    h2{
        font-family: "Ofform-Regular", "Helvetica", sans-serif;
        color: $dark-blue;
    }
    h3{
        font-family: "Ofform-Regular", "Helvetica", sans-serif;
        line-height: .6;
        padding-bottom: 4rem;
        color: $dark-blue;
    }
    h4{
        font-family: "Ofform-Regular", "Helvetica", sans-serif;
        color: $dark-blue;
    }
    h5{
        font-family: "Ofform-Regular", "Helvetica", sans-serif;
        color: $dark-blue;
    }
    h6{
        font-family: "Ofform-Regular", "Helvetica", sans-serif;
        color: $dark-blue;
    }
    p{
        font-family: "Ofform-Regular", "Helvetica", sans-serif;
        color: $dark-blue;
    }
    a{
        font-family: "Ofform-Regular", "Helvetica", sans-serif;
        color: $yellow;
    }
    .bar1, .bar3 {
    background-color: $dark-blue;
    }
    #button{
        border: 1px solid $dark-blue;
        color: $dark-blue;
        cursor: pointer;
        display: inline-block;
        &:hover{
            background: $red;
            animation: easeInOut;
        }
        .addwhite{
            border: 1px solid $dark-blue;
            color: $dark-blue;
        }
    }
    .footer-window{
        background-color: $red;
    }
    .menu-window{
        background-color: $yellow;
    }
    
}